/* flash messages */
.flashes {
    position: absolute;
    width: 100%;
}

.menu-item .active, .active a {
    background-color: unset;
    color: #F79426;
}

/* base.html */
body {
    background-image: radial-gradient(farthest-side at 90% -0%, #6b0e87, rgb(36 5 71), #0f0219);
    background-repeat: no-repeat;
}

nav {
    opacity: 90%;
    width: 98%;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 10px;
    z-index: 2000;
}

nav ul a {
    font-size: 1.6em;
}

nav ul a:hover {
    background-color: unset;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-center {
    display: flex;
    justify-content: center;
}

nav ul li.active {
    background-color: unset;
}

.side-trigger {
    color: whitesmoke;
}

img.logo-img {
    width: 60px;
    top: 8px;
    position: relative;
}

.search-bar {
    padding: 15px;
    position: relative;
    left: 75px;
}

.search-bar, .label-icon {
    margin-left: 100px;
}

.label-icon {
    padding-left: 10px;
}

#search {
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.37);
    color: whitesmoke;
    width: 30vw;
    text-align: center;
    padding: 0;
}

ul.sidenav.sidenav-fixed.grey.darken-4.white-text {
    padding-right: 0;
}

.sidenav li a, nav ul a {
    color: rgb(170, 169, 169);
}

ul#nav-menu {
    text-align: center;
}

ul li div:hover > a, nav ul li:hover a {
    color: #fffffffc;
}

.sidenav .menu-item {
    margin: 20px 0;
    position: relative;
    right: 15px;
}

.sidenav .menu-item a i {
    font-size: 28px;
    padding: 10px;
}

.sidenav .menu-item a {
    display: inline-flex;
    font-size: 25px;
    width: 55px;
}

.sub-menu-item a.list-item {
    width: 109px;
}

ul.sub-menu {
    margin-left: 29px;
}

ul.sub-menu li {
    margin-top: 8px;
}

footer {
    position: relative;
    z-index: 999;
}

/* home page */
.welcome {
    height: 80vh;
    width: 100%;    
    background-image: radial-gradient(farthest-side at 90% -0%, #6b0e87, rgb(36 5 71), #0f0219);
    margin-top: -66px;
    padding: 90px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.welcome h1 {
    color: white;
}

.title-container {
    width: 80%;
    margin: 0 auto;
}

img#movie-reel {
    position: absolute;
    right: 115px;
    top: 70px;
    width: 30vw;
}

img#tv-set {
    position: absolute;
    left: 112px;
    bottom: 227px;
    width: 23vw;
    mix-blend-mode: lighten;
    transform: rotate(355deg);
}

img#popcorn-1 {
    position: absolute;
    left: 42px;
    top: 76px;
    width: 23vw;
    transform: rotate(352deg);
}

img#popcorn-2 {
    position: absolute;
    right: 52px;
    bottom: 200px;
    width: 23vw;
    transform: rotate(10deg);
}

.left-aligned {
    text-align: left;
}

.center-aligned {
    text-align: center;
}

.right-aligned {
    text-align: right;
}

.popular-container {
    display: flex;
    justify-content: center;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 30px;
    padding-top: 30px;
}

.popular h2 {
    margin: 0;
}

.popular h3 {
    margin-top: 40px;
    margin-left: 50px;
}

.popular-title {
    font-size: 1.4em !important;
}

.popular-films, .popular-shows {
    display: flex;
    justify-content: space-evenly;
}

.modal {
    width: 30vw;
}

.auth-form {
    width: 80%;
    text-align: center;
}

.auth-form .input-field i {
    left: 0;
}

input#login-password, input#login-username,input#signup-username,input#signup-password {
    padding-left: 10px;
    margin-left: 26px;
}

.message {
    text-align: center;
    color: red;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.user-login-signup {
    width: 25vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 55px;
}

.go-to-library {
    width: 25vw;
    display: flex;
    justify-content: center;
    position: relative;
    top: 55px;
}

/* button from https://getcssscan.com/css-buttons-examples - button-33 */
.button-title {
    background-color: #f79426;
    border-radius: 100px;
    box-shadow: rgba(255, 138, 5, 5) 0 -25px 18px -14px inset,rgba(247,148,38, .15) 0 1px 2px,rgba(247,148,38, .15) 0 2px 4px,rgba(247,148,38, .15) 0 4px 8px,rgba(247,148,38, .15) 0 8px 16px,rgba(247,148,38, .15) 0 16px 32px;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 21px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 10vw;
    height: 5vh;
  }
  
  .button-title:hover {
    box-shadow: rgba(247,148,38,.35) 0 -25px 18px -14px inset,rgba(247,148,38,.25) 0 1px 2px,rgba(247,148,38,.25) 0 2px 4px,rgba(247,148,38,.25) 0 4px 8px,rgba(247,148,38,.25) 0 8px 16px,rgba(247,148,38,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }

  .go-to-library-button {
    width: 21vw;
}

/* library page */
.sidenav.sidenav-fixed {
    border-radius: 0 10px 0 0;
    margin-top: 89px;
    width: 20vw;
    padding: 30px 45px ;
}

.library-content, .list-content {
    min-height: 85vh;
    padding-bottom: 20px;
    margin: 20px 20px 0 270px;
}

.library-content .feature-title, .list-content .feature-title {
    font-size: 1.2em !important;
}

.library-sub-title, .list-sub-title {
    color: whitesmoke;
    position: relative;
    margin-left: 10px;
    top: 40px;
}

.list-container {
    margin-top: 60px;
}

.card-poster {
    background-color: transparent;
    box-shadow: none;
    height: 22vh;
    margin-bottom: 50px;
}

.card .card-image img {
    border-radius: 3px;
    margin-bottom: 5px;
}

.card-title-container {
    position: absolute;
    width: 100%;
}

.feature-title {
    position: absolute;
    text-align: left;
    padding-bottom: 4px;
    left: 5px;
    top: 3px;
    width: 80%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-menu {
    position: absolute;
    right: -7px;
    top: 10px;
    cursor: pointer;
}

.card-close {
    position: absolute;
    top: 11px;
    right: 15px;
    color: whitesmoke;
}

.card .card-reveal {
    background-color: #080808b3;
    color: whitesmoke;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 90%;
    justify-content: space-between;
    text-align: center;
    font-size: 1.8em;
}

.controls button {
    all: unset;
}

.controls i {
    color: whitesmoke;
}

.pop-controls {
    display: flex;
    justify-content: space-around;
}

#all-tv-shows, #all-films {
    color: rgb(170, 169, 169);
    font-size: 20px;
    right: 10px;
    position: relative;
    right: 25px;
}

#all-tv-shows:hover, #all-films:hover {
    color: whitesmoke;
}

/* feature display pages - search results and edit feature */
.main-content {
    min-height: 85vh;
    margin: 40px 0 40px 0;
    position: relative;
    left: 330px;
}

.feature-container-library, .feature-container-search {
    display: flex;
    align-items: center;
    height: 700px;
}

.title-genre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title-genre h3 {
    margin: 0;
}

.title-genre #genres {
    padding-top: 20px;
}

.cert-year-runtime {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

#overview {
    margin-top: 28px;
}

.poster img {
    width: 33vw;
    position: absolute;
    top: 0;
}

.review {
    height: 100px !important;
    color: whitesmoke;
}

textarea::placeholder {
    opacity: 50%;
}

#review:focus::placeholder {
    color: transparent;
  }

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-container button,
.button-container a {
    margin: 50px 50px 0;
}

/* 5 star rating from codepen.io */
#rating {
    float: left;
}

.rating {
    margin-top: 5px;
    padding: 0;
    border: none;
    float: left;
  }
  
  .rating > label {
    color: #90A0A3;
    float: right;
  }
  
  .rating > label:before {
    margin: 5px;
    font-size: 1.7em;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
  }
  
  .rating > input {
    display: none;
  }
  
  .rating > input:checked ~ label,
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #F79426;
  }
  
  .rating > input:checked + label:hover,
  .rating > input:checked ~ label:hover,
  .rating > label:hover ~ input:checked ~ label,
  .rating > input:checked ~ label:hover ~ label {
    color: #FECE31;
  }


/* media queries */
@media only screen and (min-width: 1441px) {
    .popular, nav {
        width: 80%;
    }

    .title-container {
        width: 90%;
        padding: 0 330px;
    }

    .fa-magnifying-glass {
        font-size: 1.3em;
        position: relative;
        top: -14px;
        left: -115px;
    }

    .library-content, .list-content {
        width: 80%;
        margin-left: 270px;
    }

    .poster img {
        width: 28vw;
    }

    .auth-form .input-field i {
        left: 0;
    }

    .sidenav.sidenav-fixed {
        width: 260px;
    }

    .card-poster {
        height: 35vh;
        margin-bottom: 73px;
    }

    img#movie-reel {
        position: absolute;
        right: 155px;
        top: 107px;
        width: 18vw;
    }
    
    img#tv-set {
        left: 190px;
        bottom: 227px;
        width: 14vw;
    }
    
    img#popcorn-1 {
        left: 105px;
        top: 115px;
        width: 15vw;
    }
    
    img#popcorn-2 {
        right: 120px;
        bottom: 200px;
        width: 15vw;
    }
}

@media only screen and (max-width: 1440px) {
    .fa-magnifying-glass {
        font-size: 1.3em;
        position: relative;
        top: -13px;
        left: -115px;
    }

    .main-content {
        left: 305px;
    }

    .card-poster {
        margin-bottom: 85px;
    }

    .sidenav.sidenav-fixed {
        width: 18vw;
    }

    img#movie-reel {
        position: absolute;
        right: 115px;
        top: 117px;
        width: 22vw;
    }
    
    img#tv-set {
        left: 112px;
        bottom: 227px;
        width: 17vw;
    }
    
    img#popcorn-1 {
        left: 42px;
        top: 76px;
        width: 15vw;
    }
    
    img#popcorn-2 {
        right: 52px;
        bottom: 200px;
        width: 15vw;
    }
}

@media only screen and (max-width: 1024px) {
    .controls {
        font-size: 1.3em;
        margin-top: 10px;
    }
    
    .card-title .card-close {
        font-size: 0.8em;
        right: 5px;
        top: 5px;
    }

    nav {
        height: 56px;
    }
    nav ul a {
        font-size: 1.2em;
    }

    nav .brand-logo {
        font-size: 1.9em;
    }

    img.logo-img {
        width: 55px;
    }
    
    .search-bar {
        left: 65px;
    }

    .fa-magnifying-glass {
        top: -18px;
        left: -117px;
    }

    .modal {
        width: 42vw;
    }

    .main-content {
        left: 277px;
        min-height: 80vh;
    }

    .popular h2 {
        font-size: 40px;
        margin-bottom: 30px;
    }

    .popular h3 {
        font-size: 30px;
        margin-top: 10px;
        margin-left: 30px;
    }

    .popular-title {
        font-size: 1.1em !important;
    }

    .card-menu {
        top: 8px;
    }

    .title-container {
        width: 90%;
    }

    .title-container h1 {        
        font-size: 3rem;
    }

    .card-poster {
        height: 18vh;
        margin-bottom: 50px;
    }

    .card .card-reveal {
        padding: 10px;
    }

    .poster img {
        position: relative;
        width: 34vw;
    }

    .library-content .feature-title, .list-content .feature-title {
        font-size: 1em !important;
    }

    i.right {
        font-size: 1.5em;
    }
    
    .sidenav.sidenav-fixed {
        width: 26vw;
        padding: 25px 35px;
    }

    .button-container button,
    .button-container a {
        margin: 20px 35px 0;
    }

    img#movie-reel {
        position: absolute;
        right: 115px;
        top: 117px;
        width: 22vw;
    }
    
    img#tv-set {
        left: 112px;
        bottom: 227px;
        width: 17vw;
    }
    
    img#popcorn-1 {
        left: 42px;
        top: 76px;
        width: 15vw;
    }
    
    img#popcorn-2 {
        right: 52px;
        bottom: 200px;
        width: 15vw;
    }

    #all-tv-shows, #all-films {
        font-size: 17px;
    }

    .user-login-signup {
        width: 30vw;
        top: 115px;
    }
    
    .log-in-button, .sign-up-button {
        font-size: 17px;
        width: 12vw;
    }
}

@media only screen and (max-width: 768px) {
    .welcome {
        margin-top: -135px;
    }

    nav .input-field {
        width: 80%;
        right: 10px;
    }

    .poster img {
        width: 40vw;
    }

    .side-menu .sidenav-trigger {
        position: absolute;
        z-index: 999;
        top: 85px;
        left: 15px;
        font-size: 20px;
    }

    .sidenav.sidenav-fixed {
        width: 27vw;  
        z-index: 1000;
    }

    ul#nav-menu {
        padding-top: 30px;
        width: 195px;
    }

    .sidenav li a{
        font-size: 25px;
        padding: 35px;
    }

    img.logo-img {
        width: 50px;
    }
    
    .search-bar {
        width: 60%;
    }

    #search {
        width: 40vw;
    }

    .modal {
        width: 59vw;
    }

    .main-content {
        left: unset;
        margin: 15px auto 0;
        width: 90%;
        display: flex;
        justify-content: center;
    }

    .popular h2 {
        font-size: 35px;
    }

    .popular h3 {
        font-size: 25px;
    }

    .card .card-content {
        padding: 18px;
    }

    .card-poster {
        height: 14vh;
        margin-bottom: 70px;
    }

    .card-title .card-close {
        font-size: 0.8em;
    }

    .library-content, .list-content {
        width: 90vw;
        margin: 0 auto;
        position: relative;
        top: -20px;
    }

    .poster img {
        width: 45vw;
    }

    .button-container button,
    .button-container a {
        margin: 20px 30px 0;
    }

    .feature-container-search, .feature-container-library {
        height: 540px;
    }

    .bottom-nav nav {
        border-radius: unset;
        width: 100%;
        opacity: 100%;
        bottom: -1px;
        padding: 0;
    }
    
    .bottom-nav nav ul {
        display: flex;
        justify-content: space-between;
        
    }
    
    .menu-item {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    li.menu-item {
        width: 25%;
        align-items: center;
    }
    
    .menu-item {
        margin: 0;
    }
    
    a.icon {
        position: relative;
        top: -11px;
    }
    
    .menu-item .list-item {
        position: relative;
        top: -64px;
    }
    
    .dropdown-content li>a>i {
        float: unset;
        margin: 0;
        width: unset;
    }
    
    ul.dropdown-content {
        top: 72px;
    }
    
    .sub-menu-item a {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .sub-icon i {
        position: relative;
        top: 14px;
    }
    
    a.sub-list-item {
        top: -8px;
        position: relative;
    }
    
    .list-item {
        width: 103px;
    }
    
    footer {
        margin-bottom: -11px;
        z-index: 99;
    }

    img#tv-set {
        bottom: 300px;
        left: 65px;
    }

    img#movie-reel {
        right: 55px;
    }

    #all-tv-shows, #all-films {
        font-size: 15px;
    }

    .user-login-signup {
        width: 35vw;
        top: 125px;
    }
    
    .log-in-button, .sign-up-button {
        font-size: 17px;
        width: 15vw;
    }

    .go-to-library {
        width: 50vw;
        top: 95px;
    }

    .go-to-library-button {
        width: 28vw;
    }
}

@media only screen and (max-width: 425px) {
    .welcome {
        padding: 25px;
        margin-top: -125px;
    }

    .popular h2 {
        font-size: 30px;
    }

    .popular h3 {
        margin-left: 10px;
    }

    .popular-title {
        font-size: 0.9em !important;
    }

    nav {
        width: 95%;
    }
    nav .brand-logo.left {
        font-size: 1.6em;
        left: 1px;
    }

    nav .input-field {
        width: 100%;
        left: 25px;
    }

    .sidenav.sidenav-fixed {
        width: 44vw;
        padding: 25px 30px;
    }

    .sidenav li a {
        font-size: 18px;
        padding: 35px 0;
    }

    .fa-magnifying-glass {
        top: -13px;
        left: -71px;
    }

    img.logo-img {
        display: none;
    }
    
    .search-bar {
        width: 60%;
        left: -3px;
    }

    .search-bar, .label-icon {
        margin-left: 55px;
    }

    #search {
        width: 50vw;
        font-size: 1em;
    }

    .modal {
        width: 80vw;
    }

    .main-content {
        left: unset;
        margin: -10px auto 0;
        width: 90%;
        min-height: 50vh;
        display: block;
    }

    .feature-container-search {
        height: 75px
    }

    .feature-container-library {
        height: 345px;
    }

    .title-genre {
        display: block;
        padding: 0;
    }

    .title-genre h3 {
        width: 100%;
        font-size: 1.4em;
    }

    .title-genre span {
        margin-top: 13px;
    }

    .title-genre #genres {
        padding: 0;
        width: 50%;
        font-size: .8em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .poster img {
        width: 40vw;
    }

    #overview {
        text-align: justify;
        margin: 0;
        font-size: .8em;
        position: relative;
        top: 20px;
    }

    .cert-year-runtime {
        width: 175px;
    }

    .cert-year-runtime p {
        margin-bottom: 10px;
    }

    textarea#review {
        font-size: .9em;
    }

    ul#nav-menu {
        width: 132px;
        padding-top: 0;
    }

    .button-container {
        flex-direction: column;
        justify-content: unset;
        margin-top: 10px;
    }

    .button-container button,
    .button-container a {
        margin: 10px 0;
    }

    form#seenlist {
        position: absolute;
        left: 135px;
    }

    a.modal-trigger {
        left: 56px;
    }

    #rating {
        margin-bottom: 0;
    }

    .rating > label {
        font-size: 8px;
    }

    .rating > h6 {
        font-size: 15px;
    }

    .card-poster {
        height: 16vh;
    }

    .menu-item a, .sub-menu-item .sub-list-item {
        font-size: 15px;
    }

    .menu-item a i, .sub-menu-item a i {
        font-size: 22px;
    }

    .menu-item .list-item {
        top: -60px;
    }

    ul#watchlist-menu {
        height: 180px;
    }

    .dropdown-content li>a {
        padding: 10px 16px;
    }

    a.sub-list-item {
        top: -5px;
    }

    ul.dropdown-content {
        top: 65px;
    }

    a.icon {
        top: -6px;
    }

    img#movie-reel {
        right: 22px;
        top: 84px;
    }

    img#tv-set {
        left: 28px;
        bottom: 390px;
    }

    #all-tv-shows, #all-films {
        font-size: 13px;
        right: 17px;
        top: 8px;
    }

    .user-login-signup {
        width: 65vw;
        top: 125px;
    }
    
    .log-in-button, .sign-up-button {
        font-size: 17px;
        width: 26vw;
    }

    .go-to-library {
        width: 90vw;
        top: 115px;
    }

    .go-to-library-button {
        width: 40vw;
    }
}

@media only screen and (max-width: 375px) {
    .popular h2 {
        font-size: 27px;
    }

    nav .brand-logo.left {
        left: 1px;
    }

    .sidenav.sidenav-fixed {
        width: 50vw;
    }

    nav .input-field {
        left: 10px;
    }

    nav .brand-logo.left {
        font-size: 20px;
    }

    .button-container button,
    .button-container a {
        margin: 10px 0;
    }

    form#seenlist {
        position: absolute;
        left: 110px;
    }

    a.modal-trigger {
        left: 46px;
    }    
    
    .cert-year-runtime {
        width: 160px;
    }

    .card-poster {
        height: 14vh;
    }

    .menu-item a, .sub-menu-item .sub-list-item {
        font-size: 12px;
    }

    .menu-item a i, .sub-menu-item a i {
        font-size: 19px;
    }

    .user-login-signup {
        width: 70vw;
        top: 135px;
    }
    
    .log-in-button, .sign-up-button {
        font-size: 17px;
        width: 28vw;
    }

    .go-to-library-button {
        width: 55vw;
    }
}

@media only screen and (max-width: 320px) {
    .popular h2 {
        font-size: 24px;
    }

    nav .input-field {
        left: 0px;
    }

    nav .brand-logo.left {
        font-size: 18px;
        left: 0;
    }

    .search-bar {
        left: -13px;
    }

    #search {
        width: 58vw;
    }

    .sidenav.sidenav-fixed {
        width: 50vw;
    }

    .feature-container-search {
        height: 65px;
    }

    .feature-container-library {
        height: 310px;
    }

    .side-menu ul {
        margin-top: 10px;
    }

    .cert-year-runtime {
        width: 135px;
    }

    .controls {
        font-size: 1em;
        margin-top: 8px;
    }

    .card-poster {
        height: 11vh;
    }

    #overview {
        top: 40px;
    }

    .user-login-signup {
        width: 76vw;
        top: 135px;
    }
    
    .log-in-button, .sign-up-button {
        font-size: 17px;
        width: 32vw;
    }
}
