/* flash messages */
.flashes {
    position: absolute;
    width: 100%;
}

/* base.html */
body {
    background-image: radial-gradient(farthest-side at 90% -0%, #6b0e87, rgb(36 5 71), #0f0219);
}

nav {
    opacity: 90%;
    width: 98%;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 11px;
    padding-left: 10px;
}

.search-bar {
    float: left;    
    padding: 15px;
}

.input-field {
    display: contents;
}

.search-bar, .label-icon {
    margin-left: 100px;
}

.label-icon {
    padding-left: 10px;
}

#search {
    border-radius: 30px;
    background-color: rgba(240, 248, 255, 0.37);
}

footer {
    position: relative;
    z-index: 10;
}

/* home page */
.welcome {
    height: 80vh;
    width: 100%;    
    background-image: radial-gradient(farthest-side at 90% -0%, #6b0e87, rgb(36 5 71), #0f0219);
    margin-top: -66px;
    padding: 90px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.welcome h1 {
    color: white;
    margin: 0 155px;
}

.title-container {
    width: 80%;
    margin: 0 auto;
}

.left-aligned {
    text-align: left;
}

.center-aligned {
    text-align: center;
}

.right-aligned {
    text-align: right;
}

.popular {
    /* height: 80vh; */
    background-color: black;
    color: white;
}

.popular h2 {
    margin: 0;
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

/* library page */
.side-menu {
    margin-top: 5px;
    margin-left: 10px;
    height: 85vh;
    width: 15vw;
    position: fixed;
}

.main-content {
    height: 150vh;
    margin: 20px 20px 0 270px;
}

.card-poster {
    background-color: transparent;
    box-shadow: none;
}

.card .card-image img {
    border-radius: 3px;
}

.card-title-container {
    position: absolute;
    width: 100%;
}

.feature-title {
    position: absolute;
    left: 5px;
    bottom: 2px;
    width: 100%;
}

.card-close {
    position: absolute;
    top: 11px;
    right: 15px;
    color: whitesmoke;
}

.card .card-reveal {
    background-color: #080808b3;
    color: whitesmoke;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 75%;
    justify-content: space-between;
    text-align: center;
    font-size: 20px;
}

.poster {
    /* float: right; */
}

