<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Page not found">
    <!-- <meta http-equiv="refresh" content="10; url={{ url_for('home') }}"> -->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <meta name="description" content="Keep track of all you favourite movies and shows with the Movie and Television Database">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <title>404 | MTDb | 404</title>
</head>
<body>
    <main class="error-page">
        <!-- Start of 404 message -->
        <section class="container">
            <div class="row">
                <div class="col s12 error-content">
                    <h1>404</h1>
                    <h3>Opps! This page doesn't exist!</h3>
                    <p>
                        You'll automatically be redirected to the homepage in <strong id="countdown">10</strong> seconds.
                        <br>
                        Return to <a href="{{ url_for('home') }}"><strong>Home Page</strong></a> now!
                    </p>
                </div>
            </div>
        </section>
    </main>
    
    <script>
        let coundown = 9;
        let timer = setInterval(function(){  
            document.getElementById("countdown").innerHTML = coundown;
            coundown -= 1;
        }, 1000);
    </script>
</body>
</html>