<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" sizes="32x32" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="{{ url_for('static', filename='images/favicon/favicon-16x16.png') }}">
    <meta name="description" content="Keep track of all you favourite movies and shows with the Movie and Television Database">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>MTDb - the Movie & Television Database</title>
</head>

<body>
    <header>
        <!-- top navbar -->
        <div class="navbar-fixed navbar-center">
            <nav class="text-shadow nav-bar">
                <div class="nav-wrapper">                    
                    <a href="{{ url_for('home') }}" class="brand-logo left">
                        <img src="{{ url_for('static', filename='images/mtdb-logo.png') }}" alt="Logo for MTDB" class="logo-img">
                        MTDb
                    </a>
                    <form class="search-bar" method="POST" action="{{ url_for('search') }}">
                        <div class="input-field">
                            <input id="search" name="search" type="search" autocomplete="off" required>
                            <label for="search" class="label-icon">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <span class="sr-only">Search</span>
                            </label>
                            <div id="suggestions" class="grey darken-3 white-text hidden"></div>
                        </div>
                    </form>
                    <a href="#" data-target="nav-menu" class="sidenav-trigger right">
                        <i class="fas fa-bars"></i>
                        <span class="sr-only">Open Menu</span>
                    </a>
                    <ul class="hide-on-med-and-down nav-links">
                        <li {% if request.path == url_for('home') %} class="active" {% endif %}><a href="{{ url_for('home') }}">Home</a></li>
                        {% if session.user %}          
                        <li {% if request.path == url_for('library') %} class="active" {% endif %}><a href="{{ url_for('library') }}">Library</a></li>
                        {% if session.user|lower == "admin"|lower %}
                            <li><a href="#">Manage Categories</a></li>
                        {% endif %}
                        <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        {% else %}
                            <li class="nav-log-in"><a href="#">Log In</a></li>
                            <li class="nav-sign-up"><a href="#">Sign up</a></li>
                        {% endif%}
                    </ul>
                </div>
            </nav>
        </div>
        <!-- mobile sidenav for top navbar -->
        <ul class="sidenav navbar-sidenav grey darken-4" id="nav-menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            {% if session.user %}          
                <li><a href="{{ url_for('library') }}">Library</a></li>
                <li><a href="{{ url_for('logout') }}">Log Out</a></li>
            {% else %}
                <li class="nav-log-in"><a href="#">Log In</a></li>
                <li class="nav-sign-up"><a href="#">Sign up</a></li>
            {% endif %}
        </ul>
    </header>   

    <section>
    <!-- flash messages -->
        <h4 class="sr-only">Flash Message</h4>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div id="flash-modal" class="modal flash-modal">
                    <div class="modal-content">
                        <p>{{ message }}</p>
                    </div>
                    <div class="modal-footer flash-modal-button">
                        <a class="modal-action modal-close waves-effect btn">OK</a>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <!-- sign up modal -->
    <div id="sign-up-modal" class="modal sign-up-modal">
        <div class="modal-content sign-up-modal-content">
            <a class="modal-close waves-effect btn">&times;</a>
        
            <h3 class="center-align">Sign Up</h3>

            <div class="row">
                <form class="col s12 m8 offset-m2 auth-form" method="POST" action="{{ url_for('register') }}">
                    <div>
                        <!-- username -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-user prefix"></i>
                                <input id="signup-username" name="signup-username" type="text" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="signup-username">Username</label>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-lock prefix"></i>
                                <input id="signup-password" name="signup-password" type="password" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="signup-password">Password</label>
                            </div>
                        </div>
                        <!-- register -->
                        <div class="row">
                            <button id="sign-up-button" type="submit" class="btn-large text-shadow">
                                Register <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>        
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        Already Registered? 
                        <a href="#" id="log-in" class="light-blue-text text-darken-4">Log In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- log in modal -->
    <div id="log-in-modal" class="modal log-in-modal">
        <div class="modal-content log-in-modal-content">
            <a class="modal-close waves-effect btn">&times;</a>
            <p class="message"></p>
            <h3 class="center-align">Log In</h3>

            <div class="row">
                <form class="col s12 m8 offset-m2 auth-form" method="POST" action="{{ url_for('login') }}">  
                    <div>
                        <!-- username -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-user prefix"></i>
                                <input id="login-username" name="login-username" type="text" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="login-username">Username</label>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fa-solid fa-lock prefix"></i>
                                <input id="login-password" name="login-password" type="password" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="login-password">Password</label>
                            </div>
                        </div>
                        <!-- login -->
                        <div class="row">
                            <button id="log-in-button" type="submit" class="btn-large text-shadow">
                                Log In <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>    
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        New Here? 
                        <a href="#" id="sign-up" class="light-blue-text text-darken-4">Register Account</a> 
                </div>
            </div> 
        </div>   
    </div>
  
    <main>
        <!-- left side nav -->
        {% if session.user %} 
            <div {% if request.path == url_for('home') or request.path == '/' %} class="hide side-menu" {% else %} class="side-menu" {% endif %} id="side-menu">
                <ul class="sidenav sidenav-fixed grey darken-4 white-text">
                    <li>
                        <div class="menu-item">
                            <a href="{{ url_for('home') }}"><i class="fa-solid fa-house"></i><span class="sr-only">Home</span></a>
                            <a href="{{ url_for('home') }}" class="list-item">Home</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item">
                            <a href="{{ url_for('library') }}" {% if request.path == url_for('library') %} class="active" {% endif %}><i class="fa-solid fa-lines-leaning"></i><span class="sr-only">Library</span></a>
                            <a href="{{ url_for('library') }}" {% if request.path == url_for('library') %} class="list-item active" {% else %} class="list-item" {% endif %}>Library</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item" id="watchlists">
                            <a href="#!"><i class="fa-regular fa-bookmark"></i><span class="sr-only">Watchlists</span></a>
                            <a href="#!" class="list-item menu-item-text">Watchlists</a>
                            <ul class="sub-menu hide watchlists">
                                <li>
                                    <div class="sub-menu-item">
                                        <a href="{{ url_for('view_watchlist', media_type='movie') }}" {% if request.path == url_for('view_watchlist', media_type='movie') %} class="active" {% endif %}><i class="fa-solid fa-film"></i><span class="sr-only">Films</span></a>
                                        <a href="{{ url_for('view_watchlist', media_type='movie') }}" {% if request.path == url_for('view_watchlist', media_type='movie') %} class="active list-item" {% else %} class="list-item" {% endif %}>Films</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-item">
                                        <a href="{{ url_for('view_watchlist', media_type='tv') }}" {% if request.path == url_for('view_watchlist', media_type='tv') %} class="active" {% endif %}><i class="fa-solid fa-tv"></i><span class="sr-only">TV Shows</span></a>
                                        <a href="{{ url_for('view_watchlist', media_type='tv') }}" {% if request.path == url_for('view_watchlist', media_type='tv') %} class="active list-item" {% else %} class="list-item" {% endif %}>TV Shows</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item" id="seenlists">
                            <a href="#!"><i class="fa-solid fa-eye"></i><span class="sr-only">Seenlists</span></a>
                            <a href="#!" class="list-item menu-item-text">Seenlists</a>
                            <ul class="sub-menu hide seenlists">
                                <li>
                                    <div class="sub-menu-item">
                                        <a href="{{ url_for('view_seenlist', media_type='movie') }}" {% if request.path == url_for('view_seenlist', media_type='movie') %} class="active" {% endif %}><i class="fa-solid fa-film"></i><span class="sr-only">Films</span></a>
                                        <a href="{{ url_for('view_seenlist', media_type='movie') }}" {% if request.path == url_for('view_seenlist', media_type='movie') %} class="active list-item" {% else %} class="list-item" {% endif %}>Films</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-item">
                                        <a href="{{ url_for('view_seenlist', media_type='tv') }}" {% if request.path == url_for('view_seenlist', media_type='tv') %} class="active" {% endif %}><i class="fa-solid fa-tv"></i><span class="sr-only">TV Shows</span></a>
                                        <a href="{{ url_for('view_seenlist', media_type='tv') }}" {% if request.path == url_for('view_seenlist', media_type='tv') %} class="active list-item" {% else %} class="list-item" {% endif %}>TV Shows</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        {% else %}
            <div {% if request.path == url_for('home') or request.path == '/' %} class="hide side-menu" {% else %} class="side-menu" {% endif %}>
                <ul class="sidenav sidenav-fixed grey darken-4 white-text">
                    <li>
                        <div class="menu-item">
                            <a href="#"><i class="fa-solid fa-house"></i><span class="sr-only">Home</span></a>
                            <a href="{{ url_for('home') }}" class="list-item">Home</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item non-session-activity">
                            <a href="#"><i class="fa-solid fa-lines-leaning"></i><span class="sr-only">Library</span></a>
                            <a href="#" class="list-item">Library</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item non-session-activity" id="watchlists">
                            <a href="#!"><i class="fa-regular fa-bookmark"></i><span class="sr-only">Watchlists</span></a>
                            <a href="#!" class="list-item menu-item-text">Watchlists</a>
                            <ul class="sub-menu hide watchlists">
                                <li>
                                    <div class="sub-menu-item non-session-activity">
                                        <a href="#"><i class="fa-solid fa-film"></i><span class="sr-only">Films</span></a>
                                        <a href="#" class="list-item">Films</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-item non-session-activity">
                                        <a href="#"><i class="fa-solid fa-tv"></i><span class="sr-only">TV Shows</span></a>
                                        <a href="#" class="list-item">TV Shows</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="menu-item non-session-activity" id="seenlists">
                            <a href="#!"><i class="fa-solid fa-eye"></i><span class="sr-only">Seenlists</span></a>
                            <a href="#!" class="list-item menu-item-text">Seenlists</a>
                            <ul class="sub-menu hide seenlists">
                                <li>
                                    <div class="sub-menu-item non-session-activity">
                                        <a href="#"><i class="fa-solid fa-film"></i><span class="sr-only">Films</span></a>
                                        <a href="#" class="list-item">Films</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="sub-menu-item non-session-activity">
                                        <a href="#"><i class="fa-solid fa-tv"></i><span class="sr-only">Tv Shows</span></a>
                                        <a href="#" class="list-item">TV Shows</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        {% endif %}
        {% block content%}
        {% endblock %}
    </main>
    
    <div id="loading-overlay">
        <h1 class="loading-spinner">
            <span class="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h1>
    </div>

    <!-- Start of Footer -->
    <footer class="page-footer text-shadow grey darken-3">
        <div class="container">
            <div class="row">
                <div class="col s12 l6 footer-logo-title">
                    <a href="{{ url_for('home') }}" class="brand-logo left">
                        <img src="{{ url_for('static', filename='images/mtdb-logo.png') }}" alt="Logo for MTDB" class="footer-logo-img">
                    </a>
                    <a href="{{ url_for('home') }}">
                        <h4 class="white-text">MTDb</h4>
                    </a>
                </div>
                <div class="col s12 l6 socials">
                    <div class="right">
                        <ul class="icon-list">
                            <li class="icon-item">
                                <a href="https://www.instagram.com/" target="_blank" class="icon-link">
                                    <i class="fab fa-instagram"></i>
                                    <span class="sr-only">Instagram</span>
                                </a>
                            </li>
                            <li class="icon-item">
                                <a href="https://www.facebook.com/" target="_blank" class="icon-link">
                                    <i class="fab fa-facebook-f"></i>
                                    <span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li class="icon-item">
                                <a href="https://github.com/dougyb83" target="_blank" class="icon-link">
                                    <i class="fa-brands fa-github"></i>
                                    <span class="sr-only">GitHub</span>
                                </a>
                            </li>
                            <li class="icon-item">
                                <a href="https://www.youtube.com/" target="_blank" class="icon-link">
                                    <i class="fab fa-youtube"></i>
                                    <span class="sr-only">YouTube</span>
                                </a>
                            </li>
                            <li class="icon-item">
                                <a href="https://www.linkedin.com/in/douglas-benson" target="_blank" class="icon-link">
                                    <i class="fab fa-linkedin-in"></i>
                                    <span class="sr-only">LinkedIn</span>
                                </a>
                            </li>    
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="attribution">
            <a href="https://www.themoviedb.org" target="_blank">
              <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="TMDB Logo">
            </a>
            <p>This product uses the TMDB API but is not endorsed or certified by TMDB.</p>
        </div>
    </footer>

    <!-- Start of bottom nav (replaces left side nav on mobile devices) -->
    {% if session.user %} 
        <div class="bottom-nav hide-on-large-only">
            <div class="navbar-fixed navbar-center">
                <nav class="text-shadow grey darken-4">
                    <div>
                        <ul class="navbar-fixed grey darken-4 white-text">
                            <li class="menu-item">
                                <a href="{{ url_for('home') }}" {% if request.path == url_for('home') %} class="active icon" {% else %} class="icon" {% endif %}><i class="fa-solid fa-house"></i><span class="sr-only">Home</span></a>
                                <a href="{{ url_for('home') }}" {% if request.path == url_for('home') %} class="active list-item" {% else %} class="list-item" {% endif %}>Home</a>
                            </li>
                            <li class="menu-item">
                                <a href="{{ url_for('library') }}" {% if request.path == url_for('library') %} class="active icon" {% else %} class="icon" {% endif %}><i class="fa-solid fa-lines-leaning"></i><span class="sr-only">Library</span></a>
                                <a href="{{ url_for('library') }}" {% if request.path == url_for('library') %} class="active list-item" {% else %} class="list-item" {% endif %}>Library</a>
                            </li>
                            <li class="menu-item">      
                                <!-- Dropdown Trigger -->
                                <a {% if request.path == url_for('view_watchlist', media_type="movie") or request.path == url_for('view_watchlist', media_type="tv")%} class="active dropdown-trigger icon" {% else %} class="dropdown-trigger icon" {% endif %} href="#!" data-target="watchlist-menu"><i class="fa-regular fa-bookmark"></i><span class="sr-only">Watchlists</span></a>
                                <a {% if request.path == url_for('view_watchlist', media_type="movie") or request.path == url_for('view_watchlist', media_type="tv")%} class=" active dropdown-trigger list-item menu-item-text" {% else %} class=" dropdown-trigger list-item menu-item-text" {% endif %} href="#!" data-target="watchlist-menu">Watchlists</a>
                                <ul id="watchlist-menu" class="dropdown-content grey darken-4 white-text">
                                    <li class="sub-menu-item">
                                        <a href="{{ url_for('view_watchlist', media_type='movie') }}" {% if request.path == url_for('view_watchlist', media_type="movie") %}class="active sub-icon" {% else %} class="sub-icon" {% endif %}><i class="fa-solid fa-film"></i><span class="sr-only">Films</span></a>
                                        <a href="{{ url_for('view_watchlist', media_type='movie') }}" {% if request.path == url_for('view_watchlist', media_type="movie") %}class="active sub-list-item" {% else %} class="sub-list-item" {% endif %}>Films</a>                                    
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="{{ url_for('view_watchlist', media_type='tv') }}" {% if request.path == url_for('view_watchlist', media_type="tv") %}class="active sub-icon" {% else %} class="sub-icon" {% endif %}><i class="fa-solid fa-tv"></i><span class="sr-only">Tv Shows</span></a>
                                        <a href="{{ url_for('view_watchlist', media_type='tv') }}" {% if request.path == url_for('view_watchlist', media_type="tv") %}class="active sub-list-item" {% else %} class="sub-list-item" {% endif %}>TV Shows</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">      
                                <!-- Dropdown Trigger -->
                                <a {% if request.path == url_for('view_seenlist', media_type="movie") or request.path == url_for('view_seenlist', media_type="tv")%} class="active dropdown-trigger icon" {% else %} class="dropdown-trigger icon" {% endif %} href="#!" data-target="seenlist-menu"><i class="fa-solid fa-eye"></i><span class="sr-only">Seenlists</span></a>
                                <a {% if request.path == url_for('view_seenlist', media_type="movie") or request.path == url_for('view_seenlist', media_type="tv")%} class="active dropdown-trigger list-item menu-item-text" {% else %} class="dropdown-trigger list-item menu-item-text"  {% endif %}href="#!" data-target="seenlist-menu">Seenlists</a>
                                <ul id="seenlist-menu" class="dropdown-content grey darken-4 white-text">
                                    <li class="sub-menu-item">
                                        <a href="{{ url_for('view_seenlist', media_type='movie') }}" {% if request.path == url_for('view_seenlist', media_type="movie") %}class="active sub-icon" {% else %} class="sub-icon" {% endif %}><i class="fa-solid fa-film"></i><span class="sr-only">Films</span></a>
                                        <a href="{{ url_for('view_seenlist', media_type='movie') }}" {% if request.path == url_for('view_seenlist', media_type="movie") %}class="active sub-list-item" {% else %} class="sub-list-item" {% endif %}>Films</a>                                    
                                    </li>
                                    <li class="sub-menu-item">
                                        <a href="{{ url_for('view_seenlist', media_type='tv') }}" {% if request.path == url_for('view_seenlist', media_type="tv") %}class="active sub-icon" {% else %} class="sub-icon" {% endif %}><i class="fa-solid fa-tv"></i><span class="sr-only">TV Shows</span></a>
                                        <a href="{{ url_for('view_seenlist', media_type='tv') }}" {% if request.path == url_for('view_seenlist', media_type="tv") %}class="active sub-list-item" {% else %} class="sub-list-item" {% endif %}>TV Shows</a>
                                    </li>
                                </ul>
                            </li>                             
                        </ul>                    
                    </div>
                </nav>
            </div>
        </div>
    {% endif %}

    <!-- JQuery Script -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js" 
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <!-- Materialize Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Custom Script -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>