{% extends "base.html" %}
{% block content %}

    <div class="side-menu">
        <ul id="slide-out" class="sidenav sidenav-fixed grey darken-4 white-text">
        <li>Home</li>
        <li>Watchlist</li>
            <ol>
                <li><a href="{{ url_for('view_watchlist', media_type='movie') }}">Films</a></li>
                <li><a href="{{ url_for('view_watchlist', media_type='tv') }}">TV Shows</a></li>
            </ol>
        <li>Seenlist</li>
            <ol>
                <li>Films</li>
                <li>TV Shows</li>
            </ol>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="hide-on-large-only material-icons">more_horiz</i></a>
    </div>

    <div class="main-content grey-text text-lighten-4">
        <div class="row feature-container">
            <div class="col s6">
                <div class="title-genre">
                    <h3 id="title">
                        {% if media_type == "movie" %}
                            {{ media_data['title'] }}
                        {% else %}
                            {{ media_data['name'] }}
                        {% endif %}
                    </h3>
                    <span class="right-aligned" id="genres">
                        {% for genre in media_data['genres'] %}
                            {{ genre['name'] }}{% if not loop.last %}, {% endif %}
                        {% endfor %}
                    </span>
                </div>
                <p id="overview">{{ media_data['overview'] }}</p>
                <div class="cert-year-runtime">
                    <p id="certificate">{{ media_certificate }}</p>
                    <p id="release_date">
                        {% if media_type == "movie" %}
                            {{ media_data['release_date'][0:4] }}
                        {% else %}
                            {{ media_data['first_air_date'][0:4] }}
                        {% endif %}
                    </p>
                    <p id="runtime">
                        {% if media_type == "movie" %}
                            {{ media_data['runtime'] }} mins
                        {% else %}
                            {% if media_data['episode_run_time'] %}
                                {{ media_data['episode_run_time'][0] }} mins
                            {% else %}
                                unknown runtime
                            {% endif %}
                        {% endif %}
                    </p>
                </div>
                <div class=" personalised-info">
                    <form method="POST" action="{{ url_for('add_rating_review', media_type=media_type) }}">
                        <input type="hidden" name="id" value="{{ media_data['id'] }}">
                        <div class="row rating" id="rating">                        
                            <div class="col s12 rating">
                                <h6>Rate it!</h6>
                                <input type="radio" id="star5" name="rating" value="5">
                                <label class="star" for="star5" title="Awesome" aria-hidden="true"></label>
                                <input type="radio" id="star4" name="rating" value="4">
                                <label class="star" for="star4" title="Great" aria-hidden="true"></label>
                                <input type="radio" id="star3" name="rating" value="3">
                                <label class="star" for="star3" title="Very good" aria-hidden="true"></label>
                                <input type="radio" id="star2" name="rating" value="2">
                                <label class="star" for="star2" title="Good" aria-hidden="true"></label>
                                <input type="radio" id="star1" name="rating" value="1">
                                <label class="star" for="star1" title="Bad" aria-hidden="true"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                {% if rating_review %}
                                    <div class="edit-review" id="edit-review">
                                        <p>Your Review!</p>
                                        <p id="review">{{ rating_review['review'] }}</p>
                                        <button id="edit-review-btn" class="btn waves-effect waves-light right" title="Edit Review">
                                            Edit Rating/Review
                                        </button>
                                    </div>                                                          
                                {% else %}                                    
                                    <div class="input-field">
                                        <label for="review">Your Review!</label>
                                        <textarea id="review" name="review" class="review materialize-textarea" maxlength="290" placeholder="290 character limit"></textarea>                            
                                        <button class="btn waves-effect waves-light right" title="Add Review">
                                            Submit Rating/Review
                                        </button>
                                    </div>  
                                {% endif %}
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="button-container col s12">
                            <form method="POST" action="{{ url_for('add_watchlist') }}">                    
                                <input type="hidden" name="id" value="{{ media_data['id'] }}">                  
                                <input type="hidden" name="title" value="{% if media_type == 'movie' %}{{ media_data['title'] }}{% else %}{{ media_data['name'] }}{% endif %}">
                                <input type="hidden" name="media_type" value="{{ media_type }}">
                                <button class="btn-floating waves-effect waves-light" title="Add to Watchlist" type="submit">
                                    <i class="fa-regular fa-bookmark"></i>
                                </button>
                            </form>
                            <form method="POST" action="{{ url_for('add_seenlist') }}">                    
                                <input type="hidden" name="id" value="{{ media_data['id'] }}">                  
                                <input type="hidden" name="title" value="{% if media_type == 'movie' %}{{ media_data['title'] }}{% else %}{{ media_data['name'] }}{% endif %}">
                                <input type="hidden" name="media_type" value="{{ media_type }}">
                                <button class="btn-floating waves-effect waves-light" title="Add to Seenlist" type="submit">
                                    <i class="fa-regular fa-circle-check"></i>
                                </button>
                            </form>
                            <a href="#modal-delete-{{ media_data['id'] }}" class="modal-trigger btn-floating waves-effect waves-light"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                    <!-- Modal: delete media -->
                    <div id="modal-delete-{{ media_data['id'] }}" class="modal">
                        <div class="modal-content black-text">
                        <h4>Delete Record</h4>
                        <p>Are you sure you want to delete {% if media_type == 'movie' %}{{ media_data['title'] }}{% else %}{{ media_data['name'] }}{% endif %}?</p>
                        <small>This action is permanent, and cannot be undone.</small>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn green">No</a>
                            <a href="{{ url_for('delete', feature_id=media_data['id'], media_type=media_type) }}" class="modal-close waves-effect waves-green btn red">Yes</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s6 poster">
                {% if media_data['poster_path'] == None %}                    
                    <img src="{{ url_for('static', filename='images/no-image-placeholder.png') }}" alt="No Image Available">
                {% else %}
                    <img src="https://image.tmdb.org/t/p/w500{{ media_data['poster_path'] }}"
                        alt="{% if media_type == 'movie' %}{{ media_data['title'] }}{% else %}{{ media_data['name'] }}{% endif %}">
                {% endif %}
            </div>            
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        let rating = "{{ rating_review['rating'] }}"
    </script>
{% endblock %}