{% extends "base.html" %}
{% block content %}
    
    <!-- main title -->
    <div class="welcome">
        <div class="title-container">
            <h1 class="title left-aligned">The Movie</h1>
            <h1 class="title center-aligned">& Television</h1>
            <h1 class="title right-aligned">Database</h1>
        </div>
    </div>

    <!-- popular films and tv shows -->
    <div class="popular-container">
        <div class="popular">
            <h2>Popular Films & TV Shows</h2>
            <!-- popular films -->
            <h3 class="left-aligned">Films</h3>
            <div class="row popular-films">
                {% for movie in popular_movie_data %}
                    <div class="col s2">
                        <div class="card card-poster">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="{{ url_for('popular_feature', title=movie['original_title'])}}"><img src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}" alt="{{ movie['original_title'] }}"></a>
                            </div>
                            <div class="card-title-container card-content">
                                <div>
                                    <span class="feature-title popular-title card-title grey-text text-lighten-4">{{ movie['original_title'] }}</span>
                                </div>
                            </div>
                        </div>                
                    </div>
                {% endfor %}
            </div>
            
            <!-- tv shows -->
            <h3 class="left-aligned">TV Shows</h3>
            <div class="row popular-shows">
                {% for tv_show in popular_series_data %}
                    <div class="col s2 poster-col">
                        <div class="card card-poster">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="{{ url_for('popular_feature', title=tv_show['name'])}}"><img src="https://image.tmdb.org/t/p/w500{{ tv_show['poster_path'] }}" alt="{{ tv_show['name'] }}"></a>
                            </div>
                            <div class="card-title-container card-content">
                                <div>
                                    <span class="feature-title popular-title card-title grey-text text-lighten-4">{{ tv_show['name'] }}</span>
                                </div>
                            </div>
                        </div>                
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}