{% extends "base.html" %}
{% block content %}
    
    <!-- main title -->
    <div id="welcome" class="welcome">
        <div class="title-container">
            <h1 class="left-aligned">The Movie</h1>
            <h1 class="center-aligned">& Television</h1>
            <h1 class="right-aligned">Database</h1>
            <p class="site-description center-aligned">Your personal Movie and TV show tracker - Organize what you want to watch and keep track what you've already seen</p>
            <img id="movie-reel" src="{{ url_for('static', filename='images/movie-reel.png') }}" alt="Image of a movie reel">
            <img id="tv-set" src="{{ url_for('static', filename='images/tv-with-remote.png') }}" alt="Image of a tv and remote">
            <img id="popcorn-1" class="hide-on-med-and-down" src="{{ url_for('static', filename='images/popcorn.png') }}" alt="Image of a bucket of popcorn spilling over">
            <img id="popcorn-2" class="hide-on-med-and-down" src="{{ url_for('static', filename='images/popcorn.png') }}" alt="Image of a bucket of popcorn spilling over">
        </div>
        {% if not session.user %}  
            <div class="user-login-signup">
                <span class="log-in-button button-title"><strong>Log In</strong></span>
                <span class="sign-up-button button-title"><strong>Sign Up</strong></span>
            </div>
        {% else %}
            <div class="go-to-library">
                <a href="{{ url_for('library') }}">
                    <span class="go-to-library-button button-title"><strong>Go to Library</strong></span>
                </a>
            </div>
        {% endif %}
    </div>

    <!-- popular films and tv shows -->
    <div class="popular-container">
        <div class="popular container">
            <h2>Popular Films & TV Shows</h2>
            <!-- popular films -->
            <h3 class="left-aligned">Films</h3>
            <div class="row popular-films">
                {% for movie in popular_movie_data %}
                    {% if loop.index > 3 %}
                        <div class="col s4 m2 l2 hide-on-small-only">
                    {% else %}
                        <div class="col s4 m2 l2">
                    {% endif %}      
                        <div class="card card-poster">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="{{ url_for('popular_feature', title=movie['original_title'])}}">
                                    {% if movie['poster_path'] == None %}                    
                                        <img src="{{ url_for('static', filename='images/no-image-placeholder.png') }}" alt="No Image Available">
                                    {% else %}
                                        <img src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}" alt="{{ movie['title'] }}">
                                    {% endif %} 
                                </a>
                            </div>
                            <div class="card-title-container card-content">
                                <div>
                                    <span class="feature-title popular-title card-title grey-text text-lighten-4">{{ movie['original_title'] }}</span>
                                </div>
                            </div>
                        </div>                
                    </div>
                {% endfor %}
            </div>
            
            <!-- tv shows -->
            <h3 class="left-aligned">TV Shows</h3>
            <div class="row popular-shows">
                {% for tv_show in popular_series_data %}
                    {% if loop.index > 3 %}
                        <div class="col s4 m2 l2 hide-on-small-only">
                    {% else %}
                        <div class="col s4 m2 l2">
                    {% endif %}                    
                        <div class="card card-poster">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="{{ url_for('popular_feature', title=tv_show['name'])}}">                                    
                                    {% if tv_show['poster_path'] == None %}                    
                                        <img src="{{ url_for('static', filename='images/no-image-placeholder.png') }}" alt="No Image Available">
                                    {% else %}
                                        <img src="https://image.tmdb.org/t/p/w500{{ tv_show['poster_path'] }}" alt="{{ tv_show['name'] }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="card-title-container card-content">
                                <div>
                                    <span class="feature-title popular-title card-title grey-text text-lighten-4">{{ tv_show['name'] }}</span>
                                </div>
                            </div>
                        </div>                
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}