{% extends "base.html" %}
{% block content %}
    <!-- sign up modal -->
    <div id="modal" class="modal sign-up-modal">
        <div class="modal-content sign-up-modal-content">
            <a class="modal-action modal-close waves-effect btn cyan lighten-1">&times;</a>
        
            <h3 class="center-align">Sign Up</h3>

            <div class="row">
                <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
                    <div class="card-panel">
                        <!-- username -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
                                <input id="signup-username" name="signup-username" type="text" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="signup-username">Username</label>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                                <input id="signup-password" name="signup-password" type="password" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <!-- register -->
                        <div class="row">
                            <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                                Register <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        Already Registered? 
                        <a href="#" id="log-in" class="light-blue-text text-darken-4">Log In</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- log in modal -->
    <div id="modal" class="modal log-in-modal">
        <div class="modal-content log-in-modal-content">
            <a class="modal-action modal-close waves-effect btn cyan lighten-1">&times;</a>
            <h3 class="center-align">Log In</h3>

            <div class="row">
                <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">  
                    <div class="card-panel">
                        <!-- username -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user-cog prefix light-blue-text text-darken-4"></i>
                                <input id="login-username" name="login-username" type="text" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="login-username">Username</label>
                            </div>
                        </div>
                        <!-- password -->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                                <input id="login-password" name="login-password" type="password" minlength="5"
                                    maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <!-- login -->
                        <div class="row">
                            <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                                Log In <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        
            <div class="row">
                <div class="col s12">
                    <p class="center-align">
                        New Here? 
                        <a href="#" id="sign-up" class="light-blue-text text-darken-4">Register Account</a> 
                </div>
            </div> 
        </div>   
    </div>

    <!-- main title -->
    <div class="welcome">
        <div class="title-container">
            <h1 class="title left-aligned">The Movie</h1>
            <h1 class="title center-aligned">& Television</h1>
            <h1 class="title right-aligned">Database</h1>
        </div>
    </div>

    <!-- popular films and tv shows -->
    <div class="popular">
        <h2>Popular Films & TV Shows</h2>
        <!-- popular films -->
        <div class="row popular-films">
            {% for movie in popular_movie_data %}
                <div class="col s2">
                    <div class="card card-poster">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}" alt="">
                        </div>
                        <div class="card-title-container card-content">
                            <span class="feature-title card-title activator grey-text text-lighten-4">{{ movie['original_title'] }}<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-lighten-4">{{ movie['original_title'] }}<i class="card-close material-icons right">close</i></span>
                            <div class="controls">
                                <i class="fa-regular fa-circle-check"></i>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>          
                            </div>            
                        </div>
                    </div>                
                </div>
            {% endfor %}
        </div>

        <!-- tv shows -->
        <div class="row popular-shows">
            {% for tv_show in popular_series_data %}
                <div class="col s2 poster-col">
                    <div class="card card-poster">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img src="https://image.tmdb.org/t/p/w500{{ tv_show['poster_path'] }}" alt="">
                        </div>
                        <div class="card-title-container card-content">
                            <span class="feature-title card-title activator grey-text text-lighten-4">{{ tv_show['name'] }}<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-lighten-4">{{ tv_show['name'] }}<i class="card-close material-icons right">close</i></span>
                            <div class="controls">
                                <i class="fa-regular fa-circle-check"></i>
                                <i class="fa-solid fa-pen"></i>
                                <i class="fa-solid fa-trash"></i>          
                            </div>            
                        </div>
                    </div>                
                </div>
            {% endfor %}
        </div>
    </div>



{% endblock %}