{% extends "base.html" %}
{% block content %}

    <div class="side-menu card grey darken-4">
        <div class="card-content white-text">
            <ul>
                <li>Home</li>
                <li>Watchlist</li>
                    <ol>
                        <li>Films</li>
                        <li>TV Shows</li>
                    </ol>
                <li>Seenlist</li>
                    <ol>
                        <li>Films</li>
                        <li>TV Shows</li>
                    </ol>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <div class="row">
            {% if movies|length > 0 %}
                {% for movie in movies %}
                    <div class="col l2">
                        <div class="card card-poster">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{{ movie.poster }}" alt="{{ movie.title }}">
                            </div>
                            <div class="card-title-container card-content">
                                <div>
                                    <span class="feature-title card-title grey-text text-lighten-4">{{ movie.title }}</span>
                                </div>
                                <div class="card-menu activator grey-text text-lighten-4">
                                    <i class="material-icons right">more_vert</i>
                                </div>                                
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-lighten-4"><i class="card-close material-icons right">close</i></span>
                                <div class="controls">
                                    <i class="fa-regular fa-circle-check"></i>
                                    <a href="{{ url_for('edit_movie', movie_id=movie._id) }}"><i class="fa-solid fa-pen"></i></a>
                                    <i class="fa-solid fa-trash"></i>          
                                </div>            
                            </div>
                        </div>                
                    </div>
                {% endfor %}
            {% else %}
                    <h2 class="grey-text text-lighten-4">Much Empty</h2>
            {% endif %}
        </div>
        <div class="row">
            {% if tv_shows|length > 0 %}
                {% for tv_show in tv_shows %}
                    <div class="col l2">
                        <div class="card card-poster">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img src="{{ tv_show.poster }}" alt="{{ tv_show.title }}">
                            </div>
                            <div class="card-title-container card-content">
                                <div>
                                    <span class="feature-title card-title grey-text text-lighten-4">{{ tv_show.title }}</span>
                                </div>
                                <div class="card-menu activator grey-text text-lighten-4">
                                    <i class="material-icons right">more_vert</i>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-lighten-4"><i class="card-close material-icons right">close</i></span>
                                <div class="controls">
                                    <i class="fa-regular fa-circle-check"></i>
                                    <i class="fa-solid fa-pen"></i>
                                    <i class="fa-solid fa-trash"></i>          
                                </div>            
                            </div>
                        </div>                
                    </div>
                {% endfor %}
            {% else %}
                <h2 class="grey-text text-lighten-4">Much Empty</h2>
            {% endif %}
        </div>
    </div>
    

{% endblock %}
