{% extends "base.html" %}
{% block content %}
    <div class="side-menu">
        <ul id="slide-out" class="sidenav sidenav-fixed grey darken-4 white-text">
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('library') }}">Library</a></li>
        <li>Watchlist</li>
            <ol>
                <li><a href="{{ url_for('view_watchlist', media_type='movie') }}">Films</a></li>
                <li><a href="{{ url_for('view_watchlist', media_type='tv') }}">TV Shows</a></li>
            </ol>
        <li>Seenlist</li>
            <ol>
                <li><a href="{{ url_for('view_seenlist', media_type='movie') }}">Films</a></li>
                <li><a href="{{ url_for('view_seenlist', media_type='tv') }}">TV Shows</a></li>
            </ol>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="hide-on-large-only material-icons">more_horiz</i></a>
    </div>

    <div class="library-content">
        <h5 class="library-sub-title">All Films</h5>
        <div class="row">
            {% if movie_data|length > 0 %}
                {% for movie in movie_data %}
                    <div class="col l2 m2 s4">
                        <div class="card card-poster">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="{{ url_for('feature_details', feature_id=movie['id'], media_type='movie') }}">
                                    {% if movie['poster_path'] == None %}                    
                                        <img src="{{ url_for('static', filename='images/no-image-placeholder.png') }}" alt="No Image Available">
                                    {% else %}
                                        <img src="https://image.tmdb.org/t/p/w500{{ movie['poster_path'] }}" alt="{{ movie['name'] }}">
                                    {% endif %} 
                                </a>
                            </div>
                            <div class="card-title-container card-content">
                                <div>
                                    <span class="feature-title card-title grey-text text-lighten-4">{{ movie['title'] }}</span>
                                </div>
                                <div class="card-menu activator grey-text text-lighten-4">
                                    <i class="material-icons right">more_vert</i>
                                </div>                                
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-lighten-4"><i class="card-close material-icons right">close</i></span>
                                <div class="controls">
                                    <form method="POST" action="{{ url_for('add_seenlist') }}">                    
                                        <input type="hidden" name="id" value="{{ movie['id'] }}">
                                        <input type="hidden" name="title" value="{{ movie['title'] }}">
                                        <input type="hidden" name="media_type" value="movie">                 
                                        <button type="submit">
                                            <a href="#"><i class="fa-regular fa-circle-check"></i></a>
                                        </button>
                                    </form>
                                    <a href="{{ url_for('feature_details', feature_id=movie['id'], media_type='movie') }}"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#modal-delete-{{ movie['id'] }}" class="modal-trigger"><i class="fa-solid fa-trash"></i></a>
                                </div>            
                            </div>
                            <!-- Modal: delete movie -->
                            <div id="modal-delete-{{ movie['id'] }}" class="modal">
                                <div class="modal-content">
                                <h4>Delete Movie</h4>
                                <p>Are you sure you want to delete {{ movie['title'] }}?</p>
                                <small>This action is permanent, and cannot be undone.</small>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn green">No</a>
                                    <a href="{{ url_for('delete', feature_id=movie['id'], media_type='movie') }}" class="modal-close waves-effect waves-green btn red">Yes</a>
                                </div>
                            </div>
                        </div>                
                    </div>
                {% endfor %}
            {% else %}
                    <h2 class="grey-text text-lighten-4">Much Empty</h2>
            {% endif %}
        </div>
        <h5 class="library-sub-title">All TV Shows</h5>
        <div class="row">
            {% if tv_data|length > 0 %}
                {% for tv_show in tv_data %}
                    <div class="col l2 m3 s4">
                        <div class="card card-poster">
                            <div class="card-image waves-effect waves-block waves-light">
                                <a href="{{ url_for('feature_details', feature_id=tv_show['id'], media_type='tv') }}">
                                    {% if tv_show['poster_path'] == None %}                    
                                        <img src="{{ url_for('static', filename='images/no-image-placeholder.png') }}" alt="No Image Available">
                                    {% else %}
                                        <img src="https://image.tmdb.org/t/p/w500{{ tv_show['poster_path'] }}" alt="{{ tv_show['name'] }}">
                                    {% endif %}
                                </a>
                            </div>
                            <div class="card-title-container card-content">
                                <div>
                                    <span class="feature-title card-title grey-text text-lighten-4">{{ tv_show['name'] }}</span>
                                </div>
                                <div class="card-menu activator grey-text text-lighten-4">
                                    <i class="material-icons right">more_vert</i>
                                </div>
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-lighten-4"><i class="card-close material-icons right">close</i></span>
                                <div class="controls">
                                    <form method="POST" action="{{ url_for('add_seenlist') }}">                    
                                        <input type="hidden" name="id" value="{{ tv_show['id'] }}">                 
                                        <input type="hidden" name="title" value="{{ tv_show['name'] }}">                 
                                        <input type="hidden" name="media_type" value="tv">                 
                                        <button type="submit">
                                            <a href="#"><i class="fa-regular fa-circle-check"></i></a>
                                        </button>
                                    </form>
                                    <a href="{{ url_for('feature_details', feature_id=tv_show['id'], media_type='tv') }}"><i class="fa-solid fa-pen"></i></a>
                                    <a href="#modal-delete-{{ tv_show['id'] }}" class="modal-trigger"><i class="fa-solid fa-trash"></i></a>
                                </div>            
                            </div>
                            <!-- Modal: delete tv show -->
                            <div id="modal-delete-{{ tv_show['id'] }}" class="modal">
                                <div class="modal-content">
                                <h4>Delete TV Show</h4>
                                <p>Are you sure you want to delete {{ tv_show['name'] }}?</p>
                                <small>This action is permanent, and cannot be undone.</small>
                                </div>
                                <div class="modal-footer">
                                    <a href="#!" class="modal-close waves-effect waves-green btn green">No</a>
                                    <a href="{{ url_for('delete', feature_id=tv_show['id'], media_type='tv') }}" class="modal-close waves-effect waves-green btn red">Yes</a>
                                </div>
                            </div>
                        </div>                
                    </div>  
                {% endfor %}
            {% else %}
                <h2 class="grey-text text-lighten-4">Much Empty</h2>
            {% endif %}
        </div>
    </div>
    

{% endblock %}
