{% extends "base.html" %}
{% block content %}

    <div class="side-menu card grey darken-4">
        <div class="card-content white-text">
            <ul>
                <li>Home</li>
                <li>Watchlist</li>
                    <ol>
                        <li>Films</li>
                        <li>TV Shows</li>
                    </ol>
                <li>Seenlist</li>
                    <ol>
                        <li>Films</li>
                        <li>TV Shows</li>
                    </ol>
            </ul>
        </div>
    </div>

    <div class="library-content">
        <div class="row">
            <div class="col l2">
                <div class="card poster">
                    <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS4jfQQt_0vCA4XSwGiWkffC32Tv2oajdWhaYHHVYylYGJ3v17Q">
                    </div>
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
                    <p><a href="#">This is a link</a></p>
                    </div>
                    <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
